<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="24" id="com.maintenance.symtac" ios-CFBundleVersion="1.3.2" version="1.3.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>CIRT Systems</name>
    <description>
        CIRT Systems App
    </description>
    <author email="dominicus_hubert@hotmail.com" href="">
        Hubert Yap
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="SplashScreen" value="none" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <!--hook src="../HookMaster/icon_splash_generate.js" type="after_build" /-->
    <engine name="android" spec="~6.2.1" />
    <plugin name="com.phonegap.plugins.PushPlugin" spec="https://github.com/phonegap-build/PushPlugin.git" />
    <plugin name="cordova-plugin-camera" spec="~2.3.0">
        <variable name="CAMERA_USAGE_DESCRIPTION" value="CIRT Systems requires your permission to access your camera." />
        <variable name="PHOTOLIBRARY_USAGE_DESCRIPTION" value="CIRT Systems requires your permission to access your photo library." />
    </plugin>
    <plugin name="cordova-plugin-device" spec="~1.1.5" />
    <plugin name="cordova-plugin-dialogs" spec="~1.2.0" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
</widget>
