/*
 * Copyright 2014
 * Developed By Contact Point IT Services
 *
 * Table of Contents
 *
 * S001 - General Styles
 * S002 - General Layout
 * S003 - Header Component
 * S004 - Navigation
 * S005 - Body Component
 * S006 - Footer Component
 * S007 - Other Component
 */

/*
 * S001 - General Styles
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    font-family: 'Century Gothic', Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #002244;
    background: #FFF;
}

a,
a:link,
a:visited,
a:active {
    color: #69BE28;
    text-decoration: none;
}

h1,
h2,
h3 {
    font-weight: bold;
    color: #A5ACAF;
	padding-bottom: 15px;
}

h1 { font-size: 23px; }
h2 { font-size: 17px; }
h3 { font-size: 14px; }
/*
h5 { 
    font-size: 20px; 
    font-weight: normal;
    color: #6D6E72;
	padding-bottom: 12px;
}

h6 {
    font-size: 16px; 
    font-weight: bold;
    color: #6D6E72;
	padding-bottom: 12px;
}
*/

ul, ol {
}

hr {
	height: 1px;
	border: 0px;
    border-bottom: 1px dashed;
}
/*
fieldset {
    padding: 25px;
    border: 1px solid #6E6D72;
}
*/
.clear { clear: both; }

.strikethrough  { text-decoration: line-through; }
.bold           { font-weight: bold; }
.truncate_end {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.btn_action {
    padding: 10px 20px;
    color: #002244;
    background: #69BE28;
}

.btn_action:active,
.list_action:active {
    background: #A5ACAF;
}

.list {
    line-height: 44px;
    list-style-type: none;
    border-top: 1px #002244 solid;
    padding: 0 15px;
}

.list:last-child {
    border-bottom: 1px #002244 solid;
}

.list_action {
    line-height: 44px;
    list-style-type: none;
    border: 1px #002244 solid;
    margin: 0 15px 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    background: #69BE28;
}

.list_action[data-due='1'] { background: #FF0000; }

.list .value {
    float: right;
    font-weight: bold;
}

.list .value label {
    line-height: 44px;
    display: inline-block;
}

.list .summary {

}

.list .detail {

}

/*
 * S002 - General Layout
 */
#container {
    width: 100%;
}
.wrapper {
    margin: 0 auto;
}

.text_left   { text-align: left; }
.text_center { text-align: center; }
.text_right  { text-align: right; }

.align_left  { float: left; }
.align_right { float: right; }
.align_center {
    margin-left: auto;
    margin-right: auto;
}

header, #navigation, #body, footer {
    width: 100%;
}

/*
 * S003 - Header Component
 */

header {
    position: fixed;
    height: 44px;
    background: #002244;
    z-index: 1;
}

.title {
    line-height: 44px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    font-size: 16px;
}

/*
 * S004 - Navigation
 */
#menu ul, #menu li {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav .wrapper {
    position: relative;
}

#btn_back,
#btn_settings {
    line-height: 44px; 
    display: inline-block; 
    padding: 0 10px; 
    font-size: 16px; 
    color: #FFF;
    position: absolute;
}

#btn_settings {
    right: 0;
}

/*
#menu ul {
    position: absolute;
    right: 20px;
    top: 10px;
    z-index: 10;
}

#menu li {
    line-height: 44px;
    padding: 0 20px;
    border-bottom: 1px solid #FFF;
}

#menu li a {
    text-decoration: none;
    display: block;
} */

/*
 * S005 - Body Component
 */
#body {
    padding: 44px 0;
}

#content {
    padding: 22px 0;
}


/*
 * S006 - Footer Component
 */

/*
 * S007 - Other Component
 */


.btn_icon_right {
    padding-right: 38px;
    background-repeat: no-repeat;
    background-position: center right;
    /*http://www.vision.to/add-a-small-icon-to-your-links-css-only.php*/
}

.btn_icon_left {
    padding-left: 38px;
    background-repeat: no-repeat;
    background-position: center left;
}

/*
#dialog_overlay {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3000;
    display: none;
}

#dialog_box {
    -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    background: #EEE;
    position: absolute;
    z-index: 5000;
    display: none;
}

#dialog_box .dialog_content {
    text-align: left;
    padding: 30px;
    margin: 13px;
} */

.horizontal_spread {
    text-align: justify;
    width: 100%;
}

.horizontal_spread:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.horizontal_spread li {
    display: inline-block;
}

/*
 * Loading Dialog
 */
.loading_overlay {
    opacity: 0.5;
    background: #002244;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3000;
}
#spinner {
    width: 50px;
    height: 50px;
    -webkit-animation: sweep 1s infinite linear;
    border-radius: 75px;
    border-bottom: 5px solid;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 50px;
}
#spinner { border-bottom-color: #69BE28; }

@-webkit-keyframes sweep {
    to { -webkit-transform: rotate(360deg); }
}

.dialog_box {
    position: fixed;
    z-index: 3001;
    top: 50%;
    left: 50%;    
    -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    -webkit-transform: translateX(-50%) translateY(-50%);
    background: #FFF;
    padding: 10px;
}

/*
 * Login Screen
 */
.content_index {
    text-align: center;
}

.form_container {
    padding: 0 15px;
}

.form_container input[type='text'],
.form_container input[type='password'] {
    width: 100%;
    margin-bottom: 10px;
}

/*
 * Floor Plan Screen
 */
#floor_plan {
    position: relative;
    transform: scale(0.5) translate(-50%, -50%);
}

/*
 * data-icon-status='3' : due
 * data-icon-status='1' : clear
 * data-icon-status='2' : problem
 * 
 * data-group ='0' : 88x88 icon
 * data-group ='1' : 88x65 icon
 * data-group ='2' : 88x47 icon
 *
 * data-type  ='1'  : break_glass
 * data-type  ='2'  : dry_chem_ext
 * data-type  ='3'  : emergency_phone
 * data-type  ='4'  : exit
 * data-type  ='5'  : fire_hose
 * data-type  ='6'  : first_aid
 * data-type  ='7'  : spanner
 * data-type  ='8'  : EWIS
 * data-type  ='9'  : FIP
 * data-type  ='10' : fire_blanket
 * data-type  ='11' : switchboard
 * data-type  ='11' : barber_pole
 */

.equipment {
    position: absolute;
    display: inline-block;
    background-size: 572px 132px;
}

.equipment[data-group='0'] { width: 44px; height: 44px; }
.equipment[data-group='1'] { width: 44px; height: 33px; }
.equipment[data-group='2'] { width: 44px; height: 24px; }

.equipment[data-icon-status='1']                 { background-position-y: 0;     }
.equipment[data-icon-status='2'][data-group='0'] { background-position-y: -44px; }
.equipment[data-icon-status='2'][data-group='1'] { background-position-y: -33px; }
.equipment[data-icon-status='2'][data-group='2'] { background-position-y: -24px; }
.equipment[data-icon-status='3'][data-group='0'] { background-position-y: -88px; }
.equipment[data-icon-status='3'][data-group='1'] { background-position-y: -66px; }
.equipment[data-icon-status='3'][data-group='2'] { background-position-y: -48px; }

.equipment[data-type='1']  { background-position-x: 0;      }
.equipment[data-type='2']  { background-position-x: -44px;  }
.equipment[data-type='3']  { background-position-x: -88px;  }
.equipment[data-type='4']  { background-position-x: -132px; }
.equipment[data-type='5']  { background-position-x: -176px; }
.equipment[data-type='6']  { background-position-x: -220px; }
.equipment[data-type='7']  { background-position-x: -264px; }
.equipment[data-type='8']  { background-position-x: -308px; }
.equipment[data-type='9']  { background-position-x: -352px; }
.equipment[data-type='10'] { background-position-x: -396px; }
.equipment[data-type='11'] { background-position-x: -440px; }
.equipment[data-type='12'] { background-position-x: -484px; }
.equipment[data-type='13'] { background-position-x: -528px; }

/*
 * Equipment Screen
 */
#txt_notes {
    width: 100%;
    height: 66px;
}

.new_photo {
    max-width: 100%;
}

.camera {
    background-size: 24px 24px;
    display: inline-block;
    height: 24px;
    width: 24px;
    vertical-align: middle;
}

.note_container[data-type='1'] { color: #F80606; }
.note_container[data-type='2'] { color: #0088CC; }
.note_container[data-type='3'] { color: #F89406; }
