/*
 * Copyright 2014
 * Developed By Contact Point IT Services
 *
 * Table of Contents
 *
 * S001 - General Styles
 * S002 - General Layout
 * S003 - Header Component
 * S004 - Navigation
 * S005 - Body Component
 * S006 - Footer Component
 * S007 - Other Component
 */

/*
 * S001 - General Styles
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    font-family: 'Century Gothic', Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #6D6E72;
    background: #FFF;
}

a,
a:link,
a:visited,
a:active {
    color: #B2202A;
    text-decoration: none;
}

h1,
h2,
h3 {
    font-weight: bold;
    color: #6D6E72;
	padding-bottom: 15px;
}

h1 { font-size: 23px; }
h2 { font-size: 17px; }
h3 { font-size: 14px; }
/*
h5 { 
    font-size: 20px; 
    font-weight: normal;
    color: #6D6E72;
	padding-bottom: 12px;
}

h6 {
    font-size: 16px; 
    font-weight: bold;
    color: #6D6E72;
	padding-bottom: 12px;
}
*/

ul, ol {
    padding-left: 30px;
}

hr {
	height: 1px;
	border: 0px;
    border-bottom: 1px dashed;
}
/*
fieldset {
    padding: 25px;
    border: 1px solid #6E6D72;
}
*/
.clear { clear: both; }

.strikethrough  { text-decoration: line-through; }
.bold           { font-weight: bold; }
.truncate_end {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


/*
 * S002 - General Layout
 */
#container {
    width: 100%;
}
.wrapper {
    margin: 0 auto;
}

.text_left   { text-align: left; }
.text_center { text-align: center; }
.text_right  { text-align: right; }

.align_left  { float: left; }
.align_right { float: right; }
.align_center {
    margin-left: auto;
    margin-right: auto;
}

header, #navigation, #body, footer {
    width: 100%;
}

/*
 * S003 - Header Component
 */

header {
    height: 44px;
    background: #B2202A; 
}


/*
 * S004 - Navigation
 */
#menu ul, #menu li {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav .wrapper {
    position: relative;
}

#btn_back {
    line-height: 44px; 
    display: inline-block; 
    padding: 0 10px; 
    font-size: 16px; 
    color: #FFF;
}

/*
#menu ul {
    position: absolute;
    right: 20px;
    top: 10px;
    z-index: 10;
}

#menu li {
    line-height: 44px;
    padding: 0 20px;
    border-bottom: 1px solid #FFF;
}

#menu li a {
    text-decoration: none;
    display: block;
} */

/*
 * S005 - Body Component
 */
#body {
    padding: 22px 0;
}


/*
 * S006 - Footer Component
 */

/*
 * S007 - Other Component
 */


.btn_icon_right {
    padding-right: 38px;
    background-repeat: no-repeat;
    background-position: center right;
    /*http://www.vision.to/add-a-small-icon-to-your-links-css-only.php*/
}

.btn_icon_left {
    padding-left: 38px;
    background-repeat: no-repeat;
    background-position: center left;
}

/*
#dialog_overlay {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3000;
    display: none;
}

#dialog_box {
    -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    background: #EEE;
    position: absolute;
    z-index: 5000;
    display: none;
}

#dialog_box .dialog_content {
    text-align: left;
    padding: 30px;
    margin: 13px;
} */

.horizontal_spread {
    text-align: justify;
    width: 100%;
}

.horizontal_spread:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.horizontal_spread li {
    display: inline-block;
}

/*
 * Loading Dialog
 */
.loading_overlay {
    opacity: 0.5;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3000;
}
#spinner {
    width: 50px;
    height: 50px;
    -webkit-animation: sweep 1s infinite linear;
    border-radius: 75px;
    border-bottom: 5px solid;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 50px;
}
#spinner { border-bottom-color: #AA0505; }

@-webkit-keyframes sweep {
    to { -webkit-transform: rotate(360deg); }
}

.dialog_box {
    position: fixed;
    z-index: 3001;
    top: 50%;
    left: 50%;    
    -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    -webkit-transform: translateX(-50%) translateY(-50%);
    background: #FFF;
    padding: 10px;
}

