input[type="text"],
input[type="number"],
input[type="tel"],
input[type="date"],
input[type="email"],
input[type="password"]
{
    height: 36px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #000;
    -webkit-box-sizing: border-box;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

textarea
{
    padding: 8px;
    font-size: 16px;
    border: 1px solid #000;
    -webkit-box-sizing: border-box;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

select {
    height: 36px;
    padding: 0 28px 0 5px;
    font-size: 16px;
    -webkit-box-sizing: border-box;
}

.select-container {
    display: inline-block;
    border: 1px solid #000;
    background-color: #FFF;
    background-repeat: no-repeat;
    background-position: right;
}

.select-container select {
    background: transparent;
    border: 0;
    border-radius: 0;
    -webkit-appearance: none;
}

input[type="submit"] {
    font-size: inherit;
    border: 0;
    -webkit-appearance: none;
    -webkit-box-sizing: inherit;
    -webkit-border-radius: 0;
}
/*
input[type=checkbox] { visibility: hidden; width:22px; height:22px; }
input[type=checkbox]:before {
    content:"";
    display:inline-block;
    width:22px;
    height:22px;
    visibility: visible;
    background-position: top;
    background-size: cover;
}
input[type=checkbox]:checked:before { background-position: bottom; }

input[type=radio] { visibility: hidden; width: 20px; height: 20px;}
input[type=radio]:before {
    content:"";
    display:inline-block;
    width:20px;
    height:20px;
    visibility: visible;
    background-position: top;
    background-size: cover;
}
input[type=radio]:checked:before { background-position: bottom; }
*/