<div class='content_equip'>
  <ul>
    <li class='list'>
      <span class='key'>Name</span>
      <span class='value'>{{ controller.equipDTO.name }}</span>
      <span class='clear'></span>
    </li>
    <li class='list'>
      <span class='key'>Description</span>
      <span class='value'>{{ controller.equipDTO.description }}</span>
      <span class='clear'></span>
    </li>
    <li class='list'>
      <span class='key'>Monthly Inspection Frequency</span>
      <span class='value'>{{ controller.equipDTO.inspection_frequency }}</span>
      <span class='clear'></span>
    </li>
    <li class='list'>
      <span class='key'>Last Inspection Date</span>
      <span class='value'>{{ controller.equipDTO.last_inspection | date : 'd MMM yyyy' }}</span>
      <span class='clear'></span>
    </li>
    <li class='list'>
      <span class='key'>Next Inspection Date</span>
      <span class='value'>{{ controller.equipDTO.next_inspection | date : 'd MMM yyyy' }}</span>
      <span class='clear'></span>
    </li>
    <li class='list'>
      <span class='key'>Status</span>
      <span class='value'>
        <input id='btn_normal' type='radio' ng-model='controller.equipDTO.status' value='1' />
        <label for='btn_normal'>Working</label>
        <input id='btn_problem' type='radio' ng-model='controller.equipDTO.status' value='2' />
        <label for='btn_problem'>Not Working</label>
      </span>
      <span class='clear'></span>
    </li>
    <li class='list'>
      <span class='key'>Notes</span>
      <span class='value'>{{ controller.equipDTO.notes }}</span>
      <span class='clear'></span>
    </li>
    <li class='list'>
      Additional Notes<br />
      <textarea id='txt_notes' ng-model='controller.equipDTO.extra_notes'></textarea>
    </li>
    <li class='list' ng-click='controller.onSubmit()'>
      <span class='key'>Submit</span>
    </li>
  </ul>
</div>