<?xml version='1.0' encoding='utf-8'?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="com.hyap.connector" version="1.0.0">
  <name>Connector</name>
  <description>Phonegap Plugin which allows Phonegap App to connect to native environment</description>
  <author>Contact Point IT Services Pty Ltd</author>
  <license>Apache 2.0</license>
  <keywords>cordova, connector</keywords>

  <!-- How javascript can call your plugin method -->
  <js-module src="www/connector.js" name="Connector">
      <clobbers target="connector" />
  </js-module>

  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Connector">
        <param name="android-package" value="com.hyap.custom.Connector"/>
      </feature>
    </config-file>

    <source-file target-dir="src/com/hyap/plugin" src="src/android/CPPlugin.java" />
    <!--source-file target-dir="src/com/hyap/plugin" src="src/android/JSONSerializable.java" />
    <source-file target-dir="libs" framework="true" src="src/android/greendao-1.3.7.jar" />
    <source-file target-dir="src/com/hyap/plugin/cache" src="src/android/cache/CPSharedPreferences.java" />
    <source-file target-dir="src/com/hyap/plugin/database" src="src/android/database/UpgradeHelper.java" />
    <source-file target-dir="src/com/hyap/plugin/database" src="src/android/database/Migration.java" />
    <source-file target-dir="src/com/hyap/plugin/database" src="src/android/database/MigrationImpl.java" /-->
    <!--source-file target-dir="src/com/hyap/plugin/database" src="src/android/database/MigrateV1ToV2.java" /-->
  </platform>

  <!-- ios -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="CPPlugin">
        <param name="ios-package" value="CPPlugin"/>
      </feature>
    </config-file>
    <header-file src="src/ios/CPPlugin.h" />
    <source-file src="src/ios/CPPlugin.m" />
    <!--header-file src="src/ios/CPUserDefaults.h" />
    <source-file src="src/ios/CPUserDefaults.m" />
    <header-file src="src/ios/NSArray+Serialization.h" />
    <source-file src="src/ios/NSArray+Serialization.m" />
    <header-file src="src/ios/NSDate+String.h" />
    <source-file src="src/ios/NSDate+String.m" />
    <header-file src="src/ios/NSDictionary+Serialization.h" />
    <source-file src="src/ios/NSDictionary+Serialization.m" />
    <header-file src="src/ios/NSManagedObject+Serialization.h" />
    <source-file src="src/ios/NSManagedObject+Serialization.m" />
    <header-file src="src/ios/NSSet+Serialization.h" />
    <source-file src="src/ios/NSSet+Serialization.m" />
    <header-file src="src/ios/NSFileManager+TBDirectories.h" />
    <source-file src="src/ios/NSFileManager+TBDirectories.m" />
    <header-file src="src/ios/NSManagedObject+TBAdditions.h" />
    <source-file src="src/ios/NSManagedObject+TBAdditions.m" />
    <header-file src="src/ios/NSManagedObjectContext+TBAdditions.h" />
    <source-file src="src/ios/NSManagedObjectContext+TBAdditions.m" />
    <header-file src="src/ios/NSManagedObjectID+TBString.h" />
    <source-file src="src/ios/NSManagedObjectID+TBString.m" />
    <header-file src="src/ios/TBCoreDataStoreS1.h" />
    <source-file src="src/ios/TBCoreDataStoreS1.m" /-->
  </platform>
  
</plugin>
