/*
#logo                       { background-image: url('../img/abc.png'); }
#btn-nav                    { background-image: url('../img/abc.png'); }

.select-container           { background-image: url('../img/abc.png'); }
input[type=checkbox]:before { background-image: url('../img/abc.png'); }
input[type=radio]:before    { background-image: url('../img/abc.png'); }
*/

.equipment[data-type='1']  { background-image: url('../img/black_break_glass.png'); }
.equipment[data-type='2']  { background-image: url('../img/blue_break_glass.png'); }
.equipment[data-type='3']  { background-image: url('../img/CO2_ext.png'); }
.equipment[data-type='4']  { background-image: url('../img/dry_chem_ext.png'); }
.equipment[data-type='5']  { background-image: url('../img/emergency_phone.png'); }
.equipment[data-type='6']  { background-image: url('../img/EWIS.png'); }
.equipment[data-type='7']  { background-image: url('../img/exit.png'); }
.equipment[data-type='8']  { background-image: url('../img/FIP.png'); }
.equipment[data-type='9']  { background-image: url('../img/fire_blanket.png'); }
.equipment[data-type='10'] { background-image: url('../img/fire_hose.png'); }
.equipment[data-type='11'] { background-image: url('../img/first_aid.png'); }
.equipment[data-type='12'] { background-image: url('../img/H20_ext.png'); }
.equipment[data-type='13'] { background-image: url('../img/red_break_glass.png'); }
.equipment[data-type='14'] { background-image: url('../img/switchboard.png'); }
.equipment[data-type='15'] { background-image: url('../img/wet_ext.png'); }
